/*
* @Author: Administrator
* @Date:   2018-05-31 17:20:54
* @Last Modified by:   Administrator
* @Last Modified time: 2018-06-08 17:04:11
*/
*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
body{
	font-family: "微软雅黑";
	letter-spacing: 1px;
}
.lefts{
	float: left;
}
/* .tops_a{
	height: 100px;
} */
.head_a{
	/* width: 1900px; */
	height: 422px;
	background: url('../appimg/banner_app.png') no-repeat;
	/* background-size: 100% 110%; */
	background-position: center;
	box-sizing: border-box;
	overflow: hidden;
	padding: 0 calc(50% - 600px);
}
.banner{
	position: relative;
	padding: 142px 0 0 426px;
}
.head_a h1{
	height: 49px;
	/* font-family: SourceHanSansCN-Bold; */
	font-size: 50px;
	line-height: 49px;
	color: #ffffff;
	padding-left: 77px;
}
.head_a h1 p{
	float: left;
	letter-spacing: 3px;
}
.head_a h1 p:nth-of-type(1){
	font-size: 55px;
	line-height: 55px;
	margin-right: 5px;
}
.xiazai{
	margin-top: 49px;
}
.xiazai a:nth-of-type(1){
	margin-right: 43px;
}
.xiazai a{
	float: left;
	width: 291px;
	display: inline-block;
	height: 79px;
	background-color: rgba(0, 0, 0, 0.55);
	border-radius: 39.5px;
	box-sizing: border-box;
	padding-left: 35px;
	/* font-family: SourceHanSansCN-Regular; */
	font-size: 24px;
	color: #eeeae3;
	cursor: pointer;
}
.xiazai p{
	line-height: 79px;
	float: left;
}
.xiazai p:nth-of-type(1){
	margin-right: 33px;
	padding-top: 12px;
}
.banner>img{
	position: absolute;
	top: 45px;
	left: 8px;
}
.box1{
	padding: 130px 0 99px 0;
}
.box h1{
	height: 64px;
	/* font-family: SourceHanSansCN-Bold; */
	font-size: 58px;
	letter-spacing: 3px;
	line-height: 64px;
	color: #3c3630;
	text-align: center;
}
.box1 ul{
	margin: 42px auto 0;
	width: 1200px;
	height: 703px;
	position: relative;
	overflow: hidden;
}
.box1 div{
	position: absolute;
	background: url('../appimg/quanquan.png') no-repeat;
	top: 93px;
	left: 10px;
	width: 142px;
	height: 142px;
}
.box1 li:nth-of-type(1) div{
	background-position:  0 0;
}
.box1 li:nth-of-type(2) div{
	background-position: right top;
	left: 60px;
}
.box1 li:nth-of-type(3) div{
	background-position: left bottom;
}
.box1 li:nth-of-type(4) div{
	background-position: right bottom;
	left: 60px;
}
.box1 ul li{
	width: 50%;
	height: 50%;
	box-sizing: border-box;
	float: left;
	position: relative;
	padding: 110px 0 0 208px;
	/* opacity: 0; */
}
.box1 ul li:nth-of-type(2n+2){
	padding: 110px 0 0 250px;
}
.hengxian{
	width: 100%;
	height: 0;
	position: absolute;
	top: 50%;
	left: 0;
	border: 1px solid #BBB8B5;
}
.shuxian{
	width: 1px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 50%;
	background: #BBB8B5;
}
.box1 ul li:nth-of-type(1){
	animation: shanchu1 5s 0s ease forwards;
}
.box1 ul li:nth-of-type(2){
	animation: shanchu2 5s 0s ease forwards;
}
.box1 ul li:nth-of-type(3){
	animation: shanchu3 5s 0s ease forwards;
}
.box1 ul li:nth-of-type(4){
	animation: shanchu4 5s 0s ease forwards;
}
.box1 h2{
	height: 35px;
	/* font-family: SourceHanSansCN-Bold; */
	font-size: 36px;
	line-height: 35px;
	color: #3c3630;
	margin-bottom: 15px;
	letter-spacing: 2px;
}
.box1 p{
	width: 273px;
	/* font-family: SourceHanSansCN-Regular; */
	font-size: 24px;
	line-height: 33px;
	color: #3c3630;
}
.box2{
	padding: 84px 0 54px;
	background: #FBFAF8;
}
.box .texts{
	width: 466px;
	height: 46px;
	border: solid 1px #c5beb4;
	line-height: 46px;
	background: #E8E4DE;
	/* font-family: SourceHanSansCN-Regular; */
	font-size: 24px;
	color: #3c3630;
	text-align: center;
	margin:20px auto 48px;
	border-radius: 23px;
}
.box2 h2{
	height: 35px;
	/* font-family: SourceHanSansCN-Bold; */
	font-size: 36px;
	line-height: 35px;
	color: #e8630e;
	letter-spacing: 2px;
	text-align: center;
}
.box2>p{
	text-align: center;
	/* font-family: SourceHanSansCN-Regular; */
	font-size: 24px;
	line-height: 36px;
	color: #3c3630;
	margin: 34px 0 65px;
}
.box2 ul{
	margin:0 auto;
	width: 1200px;
}
.box2 li{
	width: 1200px;
	height: 195px;
	margin-top: 17px;
	box-sizing: border-box;
	padding:45px 0 0 34px;
}
.box2 li:nth-of-type(2n+1){
	background: #F3F0E9;
}
.box2 li h6{
	width: 93px;
	height: 93px;
	box-sizing: border-box;
	text-align: center;
	line-height: 93px;
	color: white;
	margin: 6px 30px 0 0;
	font-size: 50px;
	border-radius: 50%;
	font-weight: 100;
}
.box2 li:nth-of-type(1) h6{
	background: #FFD648;
}
.box2 li:nth-of-type(2) h6{
	background: #EE92C1;
}
.box2 li:nth-of-type(3) h6{
	background: #92DEEE;
}
.box2 li:nth-of-type(4) h6{
	background: #92EEBD;
}
.box2 li:nth-of-type(5) h6{
	background: #C4A4C1;
}
.box2 li:nth-of-type(6) h6{
	background: #F39D6F;
}
.box2 h3{
	height: 35px;
	/* font-family: SourceHanSansCN-Bold; */
	font-size: 36px;
	line-height: 35px;
	letter-spacing: 2px;
	color: #3c3630;
}
.box2 li p{
	/* font-family: SourceHanSansCN-Regular; */
	font-size: 24px;
	line-height: 34px;
	color: #3c3630;
	margin-top: 10px;
}
/* .box3>img{
	width: 100%;
	display: block;
} */
.box3{
	/* width: 1900px; */
	height: 184px;
	background: #E8630E;
	color: white;
	box-sizing: border-box;
	padding:24px calc(50% - 600px) 0;
}
.box3 img{
	width: 144px;
	margin-right: 24px;
}
.box3_l{
	padding-left: 10px;
}
.box3_l h6{
	padding-top: 41px;
	height: 30px;
	/* font-family: SourceHanSansCN-Light; */
	font-size: 40px;
	line-height: 31px;
	font-weight: 100;
}
.box3_l p{
	height: 16px;
	/* font-family: SourceHanSansCN-Medium; */
	font-size: 17px;
	line-height: 16px;
	letter-spacing: 10px;
	color: #ffffff;
	margin-top: 11px;
}
.box3_r{
	margin-left: 40px;
	padding-left: 35px;
	border-left: 3px solid white;
	margin-top: 33px;
}
.box3_r p{
	line-height: 37.5px;
	/* font-family: SourceHanSansCN-Regular; */
	font-size: 24px;
	letter-spacing: 3px;
}
.box3_r p span{
	font-size: 31px;
}
.box4{
	padding: 136px calc(50% - 600px) 0;
	position: relative;
	overflow: hidden;
	width: 100%;
	box-sizing: border-box;
}
.box4 ul{
	margin: 75px 0 0 169px;
	width: 100%;
}
.box4 li{
	width: 1378px;
	height: 542px;
	background: url('../appimg/box4_bg1.png') no-repeat;
	background-size: 100% 100%;
	box-sizing: border-box;
	padding: 30px 0 0;
	margin-top: 117px;
	position: relative;
}
.box4 li:nth-of-type(1){
	margin-top: 0;
}
.box4 li>img{
	position: absolute;
	left: -158px;
	top: 36px;
}
.box4 h4{
	height: 39px;
	/* font-family: SourceHanSansCN-Bold; */
	font-size: 40px;
	line-height: 39px; 
	color: #e8630e;
	margin-left: 750px;
	letter-spacing: 2px;
}
.box4 li p{
	/* font-family: SourceHanSansCN-Regular; */
	font-size: 24px;
	line-height: 33px;
	color: #3c3630;
}
.box4 li .ptext{
	color: #ffffff;
	position: absolute;
	right: 0;
	bottom: -25px;
	/* background: url('../appimg/box4_bg2.png') no-repeat;
	background-size: 100% 100%;
	width: 909px;
	height: 464px;
	box-sizing: border-box;
	padding-top: 40px;
	padding-right: 410px;
	text-align: right;
	letter-spacing: 2px; */
}
.box4 li .ptext img{
	width: 100%;
}
.box4 li span{
	display: inline-block;
	width: 100%;
}
.box4 li .text4_1{
	margin-left: 137px;
}
.box4 li .text4_1 span:nth-of-type(n+2){
	margin-top: 40px;
}
.box4 li .ptext span:nth-of-type(n+2){
	margin-top: 25px;
}
.box4 li:nth-of-type(5) .text4_1{
	padding-top: 55px;
}
.box4 li:nth-of-type(6) .text4_1{
	padding-top: 94px;
}
.box5{
	padding: 188px 0 173px;
	margin: 0 auto;
	width: 1200px;
}
.box5 h1{
	margin-bottom: 60px;
}
.box5 li{
	width: 100%;
	height:375px;
	position: relative;
	box-sizing: border-box;
}
.box5 li div.lefts{
	transition: all 2s 0s ease;
	/* width: 0; */
	overflow: hidden;
	height: 200px;
}
.box5 li div.donghua32{
	width: 415px;
}
.box5 li:nth-of-type(2n+1){
	background: #F3F0E9;
	padding: 125px 0 0 160px;
}
.box5 li:nth-of-type(2n+2){
	padding: 131px 0 0 703px;
}
.boximg{
	position: absolute;
	right:37px;
	top: 33px;
	width: 394px;
	height: 310px;
	/* opacity: 0; */
}
.jiahao{
	width: 23px;
	height: 23px;
	position: absolute;
	top: 13px;
}
.box5 li:nth-of-type(2n+1) .jiahao{
	left: 10px;
}
.box5 li:nth-of-type(2n+2) .jiahao{
	right: 10px;
}
.box5 li h3{
	/* font-family: SourceHanSansCN-Bold; */
	color: #e8630e;
	margin-bottom: 28px;
	font-weight: 700;
	height: 45px;
	/* font-family: SourceHanSansCN-Bold; */
	font-size: 46px;
	line-height: 45px;
	width: 500px;
	letter-spacing: 2px;
}
.box5 li p{
	height: 57px;
	/* font-family: SourceHanSansCN-Normal; */
	font-size: 24px;
	line-height: 33px;
	color: #3c3630;
	width: 500px;
}
.boximg2{
	position: absolute;
	left: 0;
	top: -10px;
	width: 630px;
	/* opacity: 0; */
}
.boximg4{
	position: absolute;
	left:-200px;
	width: 900px;
	bottom: -150px;
	/* opacity: 0; */
}
#app{
	/* transform-origin: 0 0;
	overflow: hidden;
	width: 1900px; */
	min-width: 1200px;
}
/* .footer{
	height: 215px;
} */